@import url('font/lomt.css');

html, body {
	margin: 0;
	background: #283f0a;
	height: 100%;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 22px;
}

body {
	color: rgba(255, 255, 255, 0.9);
}

::selection {
	background-color: #000000;
	color: #fff;
}

::-moz-selection {
	background-color: #000000;
	color: #fff;
}

h1 {
	font-family: OstrichSans;
	font-size: 50px;
	line-height: 75px;
	margin: 5px 0 0px 0;
	font-weight: 100;
}

.splash h1 {
	font-family: OstrichSans;
	
	font-size: 100px;
	line-height: 125px;
	margin: 5% 0 10px 0;
	font-weight: 100;
}

h2 {
	font-family: OstrichSans;	
	font-size: 30px;
	margin: 0 0 20px 0;
	font-weight: 100;
	font-style: italic;
}

.splash h2 {
	font-family: OstrichSans;	
	font-size: 45px;
	margin: 0 0 20px 0;
	font-weight: 100;
	font-style: italic;
}

h1 span {
	color: #0f475c;
}
		
html, body {
	background-color: #0a293f;
}

body {
	border-color: #334d5f;	
}

.loading {
	background: url('../img/loader.gif') center center no-repeat;
}

hgroup{
	z-index: 200;
	cursor:default;
	background: rgba(0, 0, 0, 0.85);
	text-shadow: 0 1px 0 rgba(0, 0, 0, .18);

	-webkit-box-shadow: 0px 15px 35px rgba(50, 50, 50, 0.84);
	-moz-box-shadow:    0px 15px 35px rgba(50, 50, 50, 0.84);
	box-shadow:         0px 15px 35px rgba(50, 50, 50, 0.84);

	color: #fff;
	padding: 5px 100px;
	border-bottom: solid 1px rgba(255, 255, 255, 0.25);
	
	background-image: url('../img/standing_guys_head.png');
	background-repeat: no-repeat;
	background-position: 50% top;

}

.splash hgroup{
	padding: 40px 100px;
	background-position: 50% center;
	background-image: url('../img/standing_guy.png');
}

h3 {
	color: #fff;
	font-size: 29px;
	margin: 30px 0 0 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .70);
}

.twitter_avatar {
	
}

.description {
	width: 650px;
	margin-left: 100px;
	color: rgba(255, 255, 255, 0.9);
	padding-top: 10px;
	display: block;
	float: left;
}

.sign_in {
	width: 300px;
	display: block;
	float: left;
	padding: 50px 0 0 100px;
}

.my_milestones {
	display:block;
	min-height: 200px;
}

a:link, a:visited, a:active, a:hover {
	color: #fff;
	font-weight: 100;
	text-decoration:underline;
}a:hover {
	color: #ff8fb1;
}

a.button {
	background: #00bffe;
	display: block;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.55);
	color: #fff;
	width: 200px;
	text-align:center;
	text-decoration:none;
	font-weight: bold;
	border-bottom: solid 1px rgba(255, 255, 255, 0.20);
	border-right: solid 1px rgba(255, 255, 255, 0.20);
	border-top: solid 1px rgba(255, 255, 255, 0.10);
	border-left: solid 1px rgba(255, 255, 255, 0.10);
	
	font-size: 15px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .30);
	padding: 15px 10px;	
	line-height: 15px;
}

a.button:hover {
	border-color: #80ff3a;
	color: #fff;
	text-decoration:none;
}

a.button.signedin {
	background: #80ff3a;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
}

.twitter_button {
	background: #00bffe;
	font-size: 30px;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, .30);
	padding: 30px 20px;	
	line-height: 30px;
	width: 350px;
}

nav {
	position: absolute;
	top: 5px;
	right: 100px;
	z-index: 300;
	font-family: Georgia;
	font-size: 16px;
}

nav ul {
	padding:0;
}
nav li {
	padding:0;
	list-style-type:none;
	display:inline;
	color: rgba(255, 255, 255, 0.5);
}
nav li:before {
	content: " | ";
}

nav li.signed_in_as {
	background-image: url('../img/tweet_icon.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 25px;
}


nav li:first-child:before {
	content: "";
}

nav a:link {

	color: rgba(255, 255, 255, 0.5);
}nav a:hover {

	color: rgba(255, 255, 255, 0.8);
}

footer {
	clear:both;
	margin-left: 100px;
	padding-top:30px;
}

