@font-face {
    font-family: 'OstrichSans';
    src: url('ostrich-black-webfont.eot');
    src: url('ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('ostrich-black-webfont.woff') format('woff'),
         url('ostrich-black-webfont.ttf') format('truetype'),
         url('ostrich-black-webfont.svg#OstrichSans') format('svg');
    font-weight: normal;
    font-style: normal;

}